<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">{{title}}</span>
</nav>
<div class="container-fluid pt-2">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="mr-auto p-3">Evento 1</h5>
            <button type="button" class="btn btn-primary">Convidados</button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h6 class="card-subtitle mb-2 text-muted">13/10/2019 20:30</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button type="button" class="btn btn-secondary mr-1">
            Pendentes <span class="badge badge-light">4</span>
          </button>
          <button type="button" class="btn btn-success  mr-1">
            Confirmados <span class="badge badge-light">4</span>
          </button>
          <button type="button" class="btn btn-danger">
            Não estarão presentes <span class="badge badge-light">4</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Evento 2</h5>
          <h6 class="card-subtitle mb-2 text-muted">23/10/2019 13:30</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  
</div>
